.input {
    display: flex;
    height: 4em  ;
    flex: 1 ;
    background-color:#000 ;
    outline: 1 px solid #888;
    color: #fff;
    justify-content: flex-end;
    padding: 0.5em;
    font-size: 1.4em;
    font-weight: bold;
    align-items: center;

}